{% extends "core/base.html" %}

{% block title %} Success {% endblock title %}

{% block body %}

<div class="flex justify-center items-center min-h-dvh bg-gray-100 px-4">
  <div class="shadow-sm rounded-lg bg-white border border-gray-300 p-6 w-full max-w-2xl text-center">
    <h3 class="text-3xl font-semibold text-green-500 mb-3">✅ Success!</h3>
    <p class="text-gray-700 text-lg">
      Payment completed successfully. You will be redirected to the home page in 
      <span id="countdown" class="font-bold text-blue-500">5</span> seconds.
    </p>
  </div>
</div>

<!-- JavaScript for Redirect -->
<script>
  let countdown = 5;
  const countdownElement = document.getElementById("countdown");

  const timer = setInterval(() => {
    countdown--;
    countdownElement.textContent = countdown;
    
    if (countdown === 0) {
      clearInterval(timer);
      window.location.href = "/tenant";
    }
  }, 1000);
</script>

{% endblock body %}

