{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A rental website where user can rent homes easily and owner can list their home for rent">
    <meta name="keywords" content="rent,django,rental website">
    <meta name="author" content="Rahulkumar Gupta">
    <link rel="icon" href="{% static "core/images/favicon.ico" %}" type="image/x-icon">

    <title>{% block title %}{% endblock title %} RentHome</title>
   
    <!-- custom and bootstrap css files-->
    <link href="{% static "core/css/bootstrap.min.css" %}" rel="stylesheet">
    {% block custom_css %}{% endblock custom_css %}
</head>
<body>
    <!-- use 'body' to load conent without nav & footer-->
    {% block body %}
    
     <!--navbar-->
     {% include "core/navbar.html" %}
    
      <main style="min-height:100dvh;" class="container">
       {% block main %}
       {% endblock main %}
      </main>

     <!--footer-->
     {% include "core/footer.html" %}

    {% endblock body %}

    <!--bootstrap js files-->
    <script src="{% static "core/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>