<footer class="bg-black text-white text-center py-4">
  <p>
    Developed by <br /><strong>Rahulkumar Gupta</strong>
  </p>
  <p class="pt-4 pb-2 flex flex-row gap-2 justify-center items-center">
    <a href="https://github.com/rahulkumar-fullstack" target="_blank">
      <img
        src="https://img.icons8.com/color/30/github.png"
        alt="GitHub"
      />
    </a>
    <a
      href="https://linkedin.com/in/rahulkumar-fullstack"
      target="_blank"
    >
      <img
        src="https://img.icons8.com/color/30/linkedin.png"
        alt="LinkedIn"
      />
    </a>
  </p>

  <!-- Privacy & Terms Links -->
  <div class="text-center pb-6 text-sm">
    <a href="{% url 'privacy' %}" class="hover:text-blue-500">Privacy</a> |
    <a href="{% url 'terms' %}" class="hover:text-blue-500">Terms</a>
  </div>

  <p>&copy; 2025, RentHome. All rights reserved.</p>
</footer>
