<footer class="bg-dark text-white text-center py-4 mt-0 text-head">
  <p style="margin-bottom: 0px">
    Developed by <br /><strong>Rahulkumar Gupta</strong>
  </p>
  <p style="margin-top: 5px">
    <a href="https://github.com/rahulkumar-fullstack" target="_blank">
      <img
        src="https://img.icons8.com/color/30/github.png"
        alt="GitHub"
      />
    </a>
    <a
      href="https://linkedin.com/in/rahulkumar-fullstack"
      target="_blank"
    >
      <img
        src="https://img.icons8.com/color/30/linkedin.png"
        alt="LinkedIn"
      />
    </a>
  </p>

  <p>&copy; 2025, RentHome. All rights reserved.</p>
</footer>
