{% extends "core/base.html" %}

<!--Page title-->
{% block title %} Forgot Password |{% endblock title %}

<!--body without navbar and footer-->
{% block body %}

<div class="flex justify-center items-center min-h-dvh bg-gray-100 px-4">
    <div class="w-full max-w-xl">
        <div class="shadow-md rounded-lg bg-white p-6 border border-gray-200">
            <h1 class="text-center text-yellow-600 mb-4 font-bold text-xl">Forgot Password</h1>

            <form method="POST" id="form" class="px-2 py-3">
                {% csrf_token %}

                <!-- Email Input -->
                <div class="mb-4">
                    <label for="email" class="block font-semibold text-gray-700">Email</label>
                    <input type="email" id="email" name="email" required placeholder="Enter your email"
                        class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring-2 focus:ring-yellow-500 focus:outline-none" />
                </div>

                <!-- Error Message -->
                <div class="text-red-500 text-center font-semibold mb-2" id="msg">{{msg}}</div>

                <!-- Submit Button -->
                <div class="text-center pt-3">
                    <button type="submit" id="submit"
                        class="w-full bg-yellow-500 text-white py-2 px-4 rounded-md text-lg font-semibold hover:bg-yellow-600 transition">
                        Send Mail
                    </button>
                </div>
            </form>

            <!-- Back to Login -->
            <div class="text-center mt-3 text-sm">
                <a href="{% url 'login' %}" class="text-blue-600 font-semibold hover:underline">Back to login page</a>
            </div>
        </div>
    </div>
</div>


{% endblock body %}