<ul class="text-center">
    <!-- Home Link -->
    {% if is_authenticated %} 
        {% if user_role == 'Tenant' %}
        <!--Tenant navbar content-->
        <li>
          <a class="" href="{% url 'tenant-home' %}">Home</a>
        </li>
        {% else %}
        <!--landlord navbar content-->
        <li>
          <a class="nav-link active" href="{% url 'landlord-home' %}">Home</a>
        </li>

        <li>
          <a class="nav-link" href="{% url 'add-home' %}">Add Home</a>
        </li>

        <li>
          <a class="nav-link" href="{% url 'view-home' %}">View Home</a>
        </li>
        {% endif %}
    {% else %}
    <li>
      <a class="" href="{% url 'home' %}">Home</a>
    </li>
    {% endif %}
</ul>

  <div class="flex justify-center items-center">
    {% if not is_authenticated %}
    <a class="btn bg-blue-600 text-white" href="{% url "login" %}">Login</a>
    {% else %}
    <a class="btn bg-red-600 text-white" href="{% url "logout" %}">Logout</a>
    {% endif %}
  </div>